docker-compose files/JDownloader2/docker-compose_good.yml
docker-compose files/qBittorrent/docker-compose_good.yml
docker-compose files/HandBreak/docker-compose_good.yml
docker-compose files/MKVToolNix/docker-compose_good.yml
docker-compose files/TriliumNext Notes/docker-compose_good.yml
