docker-compose files/JDownloader2/docker-compose_good.yml
docker-compose files/qBittorrent/docker-compose_good.yml
docker-compose files/HandBreak/docker-compose_good.yml
docker-compose files/MKVToolNix/docker-compose_good.yml
docker-compose files/TriliumNext Notes/docker-compose_good.yml
docker-compose files/DeezSpot_bot_docker/docker-compose_good.yml
docker-compose files/Telethon Downloader/docker-compose_good.yml
docker-compose files/Stirling-PDF/docker-compose_good.yml
